.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.tableCart {
    border-collapse: separate;
    border-spacing: 4.5rem 0;
}

tbody td button {
    border-radius: 50%;
    padding: 0 .5rem;
    cursor: pointer;
}

.cartFooter button {
    margin: 1.5rem;
    padding: .5rem;
    border-radius: 25px;
}

.cartEmpty button {
    border-radius: 25px;
}

.vuelveInicio {
    margin-top: 1.5rem;
    padding: .5rem;
}