@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.nombreApp {
    color: #E5781A !important;
    font-size: 5rem !important;
    font-family: 'Cookie', cursive;
    font-weight: 400;
    letter-spacing: 1.5px;
    animation-duration: 3s !important;
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.5);
}