* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navContainer {
    padding: 0 !important;
    width: 100%;
}

.containerLogoLinks {
    display: block !important;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.navLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e1f7f6;
    width: 100vw;
}

.containerDibu {
    width: 5.5%;
    background: none;
    border: none;
}

.imglogo {
    width: 100%;
    padding: .3rem 0;
    cursor: pointer;
}

.navLogo div {
    font-size: 1.5rem;
    background-color: #E5781A;
    border-top-left-radius: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 10px;
    padding: 0.3rem 1rem;
    color: #fff;
    display: flex;
}

.navLogo div svg {
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem;
}

.navLogo div p {
    margin: 0;
    align-self: center;
    padding-left: 1rem;
}

.carritoLogo {
    cursor: pointer;
    color: #E5781A;
    width: 2.5rem;
    height: 2.3rem;
    margin-top: 1rem;
}

.cartMenuNum {
    position: relative;
    background-color: #000;
    color: #fff;
    bottom: 3rem;
    left: 80%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50%;
    padding: 9px;
    font-size: .55rem;
}

.containerLinks {
    width: 100vw;
}

.menuNav {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    font-weight: 600;
    background-color: lightgray;
}

.navbar-nav {
    --bs-nav-link-hover-color: #fff !important;
}

.nav-link.active {
    color: #E5781A !important;
}