.cantidadProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem;
}

.cantidadProductos button {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 1px #000;
    font-weight: 900;
    color: #fff;
    border-radius: 50%;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0 0 .5rem 0.05rem;
    border: none;
}

.cantidadProductos button:hover,
.cantidadProductos button:focus {
    color: #000;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.cantidadProductos h1 {
    align-self: center;
    margin: 0 1.5rem .5rem !important;
    padding: 0;
    width: 3rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #999;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
}

.botonAgregar {
    -webkit-text-stroke: .5px #000;
    color: #fff;
    border-radius: 2rem;
    align-self: center;
    font-size: 1.4rem;
    font-weight: 900;
    padding: .4rem .8rem;
    margin-bottom: 1.5rem;
    border: none;
}

.botonAgregar:hover,
.botonAgregar:focus {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #000;
}