.cantidadProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem;
}

.cantidadProductos button {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    font-weight: 900;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 0 0 .5rem 0.05rem;
}

.cantidadProductos button:hover,
.cantidadProductos button:focus {
    color: #000;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.cantidadProductos h1 {
    align-self: center;
    margin: 0 1.5rem .5rem !important;
    padding: 0;
    width: 3rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: #a2a2a2;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.5);
}

.botonAgregar {
    background-color: #E5781A;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    align-self: center;
    font-size: 1.3rem;
    font-weight: 900;
    padding: .4rem .4rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
}

.botonAgregar:hover,
.botonAgregar:focus {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #000;
}