.containerLinks {
    width: 100% !important;
}

.menuNav {
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
    padding: .5rem 0;
}

.linkNav {
    text-decoration: none;
    animation-duration: 3.5s;
    font-size: 1.2rem;
    font-weight: 600;
    color: grey;
}

.linkNav:hover {
    color: #fff;
}

.linkNav:focus {
    outline: none;
    color: #fff;
}

.recetas {
    animation-delay: 2.1s;
}

.linkNav.active {
    color: #E5781A !important;
}